
<p>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal1">
Home
</button>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Home</h4>
      </div>
        <%= render 'home_form' %>
    </div>
  </div>
</div>
</p>

<p>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal2">
Car
</button>

<!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Car</h4>
      </div>
        <%= render 'car_form' %>
    </div>
  </div>
</div>
</p>

<p>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal3">
Food
</button>

<!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Diet</h4>
      </div>
        <%= render 'diet_form' %>
    </div>
  </div>
</div>
</p>

<p>
  <%= render 'date_form' %>
</p>