<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>

<h1> testing </h1>

<%= line_chart User.group_by_day(:created_at).count %>
