<%= javascript_include_tag "//www.google.com/jsapi" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>

<h1> testing </h1>


<%= column_chart @data, stacked: true %> 

<%= column_chart current_user.entries.group_by_month(:date).sum(:electricity) %>


