<%= javascript_include_tag "//www.google.com/jsapi" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>

<h1> testing </h1>

    <% home_data(current_user, @car_data) %>
    
    <% @car_data.each do |datum| %>
        <%= datum %>
    <% end %>

<%= column_chart @car_data %> 

