    <!-- prep column chart data -->
    <% home_data(current_user, @home_data) %>
    <% car_data(current_user, @car_data) %>
    <% diet_data(current_user, @diet_data) %>
    <% @data = [ {name: "Home", data: @home_data}, {name: "Car", data: @car_data}, {name: "Diet", data: @diet_data} ] %>
    
    
    <div class =container >
        <!-- column chart -->
        <div class="row" >
            <!-- GRAPH -->
            <div class="col-md-12">
                <div class="notice-board">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Your Monthly Footprint| <small>lbs CO2</small></h3>
                        </div>
                        <%= column_chart @data, stacked: true, content_for: :charts_js %> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >

            <div class="col-md-6">
                <div class="notice-board">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Your Footprint Breakdown| <small>Over the past 12 months</small></h3>
                        </div>
                        <% @entries.sort_by{|t| - t.created_at.to_i}.first(10).each do |entry| %> 
                            <% all_data(entry, @pie_data) %>
                        <% end %>
                        <%= pie_chart @pie_data, content_for: :charts_js %>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="notice-board">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Average Anual Footprint Breakdown| <small>In the United States</small></h3>
                        </div>
                        <% average_data(@average_data) %>
                        <%= pie_chart @average_data, content_for: :charts_js %>
                    </div>
                </div>
            </div>
        </div>
    </div>
