<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>
<style>
    .form { display:none; }
</style>
<script>
    $("a.form_type").click(function(){
     $(this).next(".form").toggle();
    });
    
    $(function () { 
        $('#container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Carbon Footprint'
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    text: 'Footprint'
                }
            },
            series: [{
                name: 'Jane',
                data: [1, 0, 4]
            }, {
                name: 'John',
                data: [5, 7, 3]
            }]
        });
    });
</script>

<h1> testing </h1>

<%= line_chart User.group_by_day(:created_at).count %>

<div id="container" style="width:250px; height:250px;"></div>

<%= render 'mapform' %>

