            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            About Us
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Our Mission</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                        <p>Carbon dioxide (CO2) is the primary greenhouse gas created through human activities. CO2 is constantly being exchanged between the ocean, land, and atmosphere and natural processes tend to balance these transfers. However, since the beginning of the industrial revolution in 1750, carbon dioxide emissions caused by human activity have increased significantly and led to major changes in global temperatures and climate.<p>

                                        <p>A carbon footprint is defined as the total CO2 emissions created by an individual through their daily activities. An individual's carbon footprint is effected by several factors including energy utilization, method of transportation, frequency of travel, and food consumption.</p>

                                        <p>[APP NAME HERE]'s goal is to facilitate personalized tracking of one's carbon footprint and raise awareness for the importance of sustainability and the impact of human activity on the environment.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">Calculations</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Delicious!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">References</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           NUtritious!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Reduce Your Footprint</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            Meat!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>