       <div class="tabbable">
            <ul class="nav nav-tabs">
                <li>
                  <a href="#1" data-toggle="tab">Our Mission</a>
                </li>
                <li>
                    <a href="#2" data-toggle="tab">Calculations</a>
                </li>   
                <li>
                    <a href="#3" data-toggle="tab">References</a>
                </li> 
                <li>
                    <a href="#4" data-toggle="tab">Reduce Your Footprint</a>
                </li> 
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="1">      
                    <form id="personal-data" class="form-horizontal">
                    <div class = "modal_body">
                        <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                <p>
                                  !!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                     <div class = "modal_body">
                        <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                <p>
                                   !!!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                            !!!
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                            !!!
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                            !!!
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                !!!
                            </div>
                          </div>
                        </div>
                    </div>
                </div>      
            <div class="tab-pane" id="3">
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            !!!
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                            !!!
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="4">
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                           !!!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                !!!
                </div>    
            </div>
        </div>