            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>About Us</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Our Mission</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                        <p>Carbon dioxide (CO2) is the primary greenhouse gas created through human activities. 
                                        CO2 is constantly being exchanged between the ocean, land, and atmosphere and natural processes tend to balance these transfers.
                                        However, since the beginning of the industrial revolution in 1750, carbon dioxide emissions caused by human activity have increased significantly and led to major changes in global temperatures and climate. 
                                        In 2009, US emissions of 6,576 million metric tons CO2-equivalent, the US population is approximately 320 million and was about 310 million in 2009.
                                        This means that the net annual emissions per person in the united states is over 6,500 million metric tons or 1,400,000,000,000 pounds. That's 46,700 pounds per person.<p>

                                        <p>A carbon footprint is defined as the total CO2 emissions created by an individual through their daily activities. An individual's carbon footprint is effected by several factors including energy utilization, method of transportation, frequency of travel, and food consumption.</p>

                                        <p>C-12's goal is to facilitate personalized tracking of one's carbon footprint and raise awareness for the importance of sustainability and the impact of human activity on the environment.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">Reduce Your Footprint</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>1. Household fuel efficiency - If your household has two cars and one is used mostly for commuting, make the commuting car a real gas sipper if you can’t for both.</p>
                                            <p>2. Programmable thermostat – Costs about $50 or less and will save you that much or more in the first year.</p>
                                            <p>3. Lighting – Compact fluorescent light bulbs (CFLs) have that cool curly shape and save more than 2/3rds of the energy of a regular incandescent.  Each bulb can save $40 or more over its lifetime.</p>
                                            <p>4. Heating and Cooling - Keep your heating and cooling system(s) tuned. </p>
                                            <p>5. Reduce.  Reuse.  Recycle.</p>
                                            <p>6. Eat less meat. If you’re already a vegetarian, you save at least 3,000 pounds of CO2 per year compared to meat eaters. If you’re not a vegetarian, just increase the number of vegetarian meals you eat each week by one or two. Also, poultry is less greenhouse gas intensive than beef.</p>
                                            <p>7. Don’t waste food. Mom was right. About one-quarter of all the food prepared annually in the U.S., for example, gets tossed, producing methane in landfills as well as carbon emissions from transporting wasted food.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">References</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <p>A warm thank you to:</p>
                                            <li>https://www.carbonfund.org/individuals</li>
                                            <li>http://www.epa.gov/cleanenergy/energy-resources/egrid/</li>
                                            <li>https://www.fueleconomy.gov/feg/findacar.shtml</li>
                                            <li>http://shrinkthatfootprint.com/food-carbon-footprint-diet</li>
                                            <p>For providing reference information regarding calculations and carbon emissions.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>