<div class="conatiner">
    <div class="c-wrapper">
        <div class="col-md-offset-3 col-md-6">
            <div class="Compose-Message">               
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Compose New Message 
                    </div>
                    <div class="panel-body">
                        <p>
                        <label>Enter Recipient Name : </label>
                        <input type="text" class="form-control" />
                        </p>
                        <p>
                        <label>Enter Subject :  </label>
                        <input type="text" class="form-control" />
                        </p>
                        <p>
                        <label>Enter Message : </label>
                        <textarea rows="9" class="form-control"></textarea>
                        </p>
                        <hr />
                        <a href="mailto:alecvortiz@aol.com" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> Send Message </a>&nbsp;
                      <a href="/entries" class="btn btn-danger"><span class="glyphicon glyphicon-edit"></span>  Back </a>
                    </div>
                    <div class="panel-footer text-muted">
                        <strong>Note : </strong>Please note that we track all messages so don't send any spams.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
