    <h2 class="featurette-heading">Mapping Carbon. <span class="text-muted">Find your route. </span></h2>
    <p class="lead">Choose two destinations and compare the carbon footprint and convenience of potential routes! </p>

    <!-- MAP -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Maps| <small>Find your way while thinking critically about the way you drive</small></h3>
            </div>
                <div class="modal fade" id="footprintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><span id="modal_distance"></span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container-full">
                <div id='map'>
                    <div id='inputs'></div>
                    <div id='errors'></div>
                    <div class='row'>
                        <div id='directions'>
                            <div id='routes'></div>
                            <div id='instructions'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
  
  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <p class="pull-right"><a href="#">Back to top</a></p>

