/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require style
 *= require map.css
 *= require_tree .
 *= require_self
<<<<<<< HEAD
 *= require style
 *= require styles

=======
 
>>>>>>> 1de080543ef47fa6bf81984028a6312bc3af0e71
 */
 .navbar-right {
     margin-top: 40px;
 }
 
 .navbar_link {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     color: white;
     /*border is optional
     border-bottom:1px solid #444;*/
     cursor: pointer;
}

.navbar_link:hover{
         text-decoration:underline;
}

.nav.nav-tabs a {
    color: black;
}

.tabbable {
    margin: 40px;
    padding: 20px;
}

.nav.nav-tabs a {
    color: black;
}

.row {
    margin: 20px;
}

label{
    margin: 10px;
}
.panel-heading {
    padding: 30px;
}

.panel-body {
    line-height: 30px;
}

.company_title {
    padding: 20px 0 0 0;
    font-size: 40px;
}

small {
    font-size: 24px;
    font-weight: 100;
}

