  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
    <div class="dashboard-div-wrapper bk-clr-two">
        <i  class="fa fa-edit dashboard-div-icon" ></i>
    </div>
    <h2>Learn</h2>
      <p>Facts about CO2 emissions and strategies for reducing individual carbon footprints.</p>
      <p><a class="btn btn-default" href="/about">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
    <div class="dashboard-div-wrapper bk-clr-three">
        <i  class="fa fa-cogs dashboard-div-icon" ></i>
    </div>      
    <h2>Track</h2>
      <p>Sign up for your personal carbon emission tracker and start tracking your journey today.</p>
      <p><a class="btn btn-default" href="/users/sign_up">Get started »</a></p>
    </div>
    <div class="col-md-4 text-center">
    <div class="dashboard-div-wrapper bk-clr-four">
        <i  class="fa fa-bell-o dashboard-div-icon" ></i>
    </div>      
    <h2>Reduce</h2>
      <p>Keep on top of your footprint and watch it shrink.</p>
      <p><a class="btn btn-default" href="/users/sign_in">Sign in »</a></p>
    </div>
  </div><!-- /.row -->