<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2015 WeWishWeHadAJob | By : <a href="http://hyperboleandahalf.blogspot.com/" target="_blank">HyperboleAndAHalfRocks</a>
            </div>

        </div>
    </div>
</footer>
